{% extends "navbar.html" %}
{% block content %}
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">My Teaching courses</h3>
		  </div>
		  <div class="panel-body">
		  	{% if courses %}
			  	{% for courses %}
			  		<p>{{ course.show_name_type }}
			  			<a class="btn btn-md btn-success pull-right" href='{% url "view_course" course.id %}' role="button">View Course</a>
			  		</p>
			  		<hr>
			  	{% endfor %}
			{% else %}
				<div class="alert alert-info" role="alert">You don't have any courses!</div>
			{% endif %}
		  </div>
		</div>
	</div>
{% endblock %}

