{% extends "navbar.html" %}
{% block content %}
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">My enrolled courses</h3>
		  </div>
		  <div class="panel-body">
		  	{% if my_enrolled_courses %}
			  	{% for course in my_enrolled_courses %}
			  		<p>{{ course.show_name_type }}
		  				<div class="btn-group">
						  <a class="btn btn-md btn-primary" href='{% url "view_course" course.id %}' role="button">View Course</a>
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><a href='{% url "leave_course" course.id %}'>Leave course</a></li>
						  </ul>
						</div>
					</p>
			  		<hr/>
			  	{% endfor %}
			{% else %}
				<div class="alert alert-info" role="alert">No enrolled courses</div>
			{% endif %}
		  </div>
		</div>
	</div>
{% endblock %}

