{% extends "navbar.html" %}
{% block content %}
	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{ course.name }}</h3>
		  </div>
		  <div class="panel-body">
		  		<div class="col-sm-2">
  					<ul class="nav nav-pills nav-stacked">
  						<hr/>
						<li role="presentation"><a href='{% url "view_course" course.id %}'>Home</a></li>
						<hr/>
						<li role="presentation"><a href='{% url "view_assignment" course.id %}'>Assignment</a></li>
						<hr/>
						<li role="presentation"><a href="#">Lecture Notes</a></li>
						<hr/>
						<li role="presentation"><a href='{% url "view_syllabus" course.id %}'>Syllabus</a></li>
						<hr/>
					</ul>
				</div>
		  		<div class="col-sm-8">
		  			<hr/>
			  		{% block course %}
			  		{% endblock %}
			  	</div>
		  </div>
		</div>
	</div>
<script>
var url = window.location;
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');
</script>
{% endblock %}

