{% extends "course/viewcourse.html" %}
{% block course %}
<div class="col-sm-12 col-sm-offset-3">
{% if reg_professor %}
	<a class="btn btn-md btn-success pull-right" href='{% url "add_assignment" course.id %}' role="button">Add Assignment</a>
{% endif %}
</div>
{% if assignments %}
	<div class="col-sm-12 col-sm-offset-3">
		<div align="center"><h2>Assignments</h2></div>
		<hr/>
		{% for assignment in assignments %}
			<h3>{{ assignment.description }}</h3>
			<h4><a href="{{ assignment.file_link }}">Assignment</a></h4>
			<h4>Deadline for submission : {{ assignment.deadline }}</h4>
			<h4><p align="right">added on:{{ assignment.timestamp }}</p></h4>
			<hr/>
		{% endfor %}
	</div>
{% else %}
	<br></br>
	<div class="col-sm-12 col-sm-offset-3">
		<div class="alert alert-info" role="alert">No Lecture notes uploaded by instructor</div>
	</div>
{% endif %}
{% endblock %}

