{% extends "course/viewcourse.html" %}
{% block course %}
<div class="col-sm-12 col-sm-offset-3">
	{% if reg_professor %}
		<a class="btn btn-md btn-success pull-right" href='{% url "add_syllabus" course.id %}' role="button">Add Syllabus</a>
	{% endif %}
</div>
{% if syllabuses %}
	<div class="col-sm-12 col-sm-offset-3">
	<div align="center"><h2>Syllabus</h2></div>
	<hr/>
	{% for syllabus in syllabuses %}
		<h4><a href="{{ syllabus.file_link }}">Syllabus</a></h4>
		<h4><p align="right">added on : {{ syllabus.timestamp }}</p></h4>
		<hr/>
	{% endfor %}
	</div>
{% else %}
	<br></br>
	<div class="col-sm-12 col-sm-offset-3">
		<div class="alert alert-info" role="alert">No syllabus uploaded by instructor</div>
	</div>
{% endif %}
{% endblock %}

