{% extends "course/viewcourse.html" %}
{% block course %}
{% if reg_professor %}
	<a class="btn btn-md btn-success pull-right" href='#' role="button">Add Syllabus</a>
{% endif %}
{% if syllabuses %}
	<div align="center"><h2>Syllabus</h2></div>
	<div class="col-sm-6 col-sm-offset-3">
	{% for syllabus in syllabuses %}
		<h4><a href="{{ syllabus.file_link }}">Syllabus</a></h4>
		<h4>added on : {{ syllabus.timestamp }}</h4>
		<hr/>
	{% endfor %}
	</div>
{% else %}
	<div class="alert alert-info" role="alert">No syllabus uploaded by instructor</div>
{% endif %}
{% endblock %}

