{% extends "navbar.html" %}
{% block content %}
	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Courses Name goes here</h3>
		  </div>
		  <div class="panel-body">
		  		<div class="col-sm-2">
  					<ul class="nav nav-pills nav-stacked">
  						<hr/>
						<li role="presentation" class="active"><a href="#">Home</a></li>
						<hr/>
						<li role="presentation"><a href='{% url "add_assignment" course.id %}'>Assignment</a></li>
						<hr/>
						<li role="presentation"><a href="#">Lecture Notes</a></li>
						<hr/>
						<li role="presentation"><a href="#">Syllabus</a></li>
						<hr/>
					</ul>
				</div>
		  		<div class="col-sm-8">
		  			<hr/>
			  		<p>Course Content like notices goes here</p>
			  	</div>
		  </div>
		</div>
	</div>
{% endblock %}

